<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LogFlags" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <LogFlags>
    <add key="LogDebug" value="1" />
    <add key="LogSession" value="1" />
  </LogFlags>
</configuration>
